@property --ripple-inner {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 10%;
}

@property --ripple-peak {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 30%;
}

@property --ripple-outer {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 60%;
}

@property --peak-color {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(120 100% 25% / 1);
}

.radial-gradient-animation {
  --ripple-inner: 10%;
  --ripple-peak: 30%;
  --ripple-outer: 60%;
  --peak-color: hsla(120 100% 25% / 1);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: radial-gradient(
    circle at center,
    transparent 0%,
    transparent var(--ripple-inner),
    var(--peak-color) var(--ripple-peak),
    transparent calc(var(--ripple-outer)),
    transparent 100%
  );
  animation: ripple-gradient 0.8s var(--ease-out-cubic) infinite;
  z-index: 10;
}

@keyframes ripple-gradient {
  0% {
    /* opacity: 0.2; */
    --ripple-inner: 0%;
    --ripple-peak: 10%;
    --ripple-outer: 20%;
    --peak-color: hsla(120 100% 25% / 0.2);
  }

  20% {
    /* --peak-color: hsla(120 100% 25% / 1); */
  }

  100% {
    --peak-color: hsla(120 100% 25% / 0);
    /* opacity: 0; */
    --ripple-inner: 50%;
    --ripple-peak: 100%;
    --ripple-outer: 150%;
  }
}
