@property --ripple-inner {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 10%;
}

@property --ripple-peak {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 30%;
}

@property --ripple-outer {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 60%;
}

@property --peak-color {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(120 100% 25% / 1);
}

.radial-gradient-animation {
  --ripple-inner: 0%;
  --ripple-peak: 10%;
  --ripple-outer: 20%;
  --peak-color: hsla(120 100% 25% / 0.22);
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  pointer-events: none;
  background: radial-gradient(
    circle at 50% 0%,
    transparent 0%,
    transparent var(--ripple-inner),
    var(--peak-color) var(--ripple-peak),
    transparent calc(var(--ripple-outer)),
    transparent 100%
  );
  animation: ripple-gradient 532ms var(--ease-out-cubic) 1 both;
  z-index: 0;
}

@keyframes ripple-gradient {
  0% {
    --ripple-inner: 0%;
    --ripple-peak: 10%;
    --ripple-outer: 20%;
    --peak-color: hsla(120 100% 25% / 0.2);
  }

  40% {
    /* --peak-color: hsla(120 100% 25% / 0.6); */
  }

  100% {
    --peak-color: hsla(120 100% 25% / 0);
    --ripple-inner: 46%;
    --ripple-peak: 82%;
    --ripple-outer: 118%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .radial-gradient-animation {
    animation: none;
    background: none;
  }
}
